:root {
    /*--bg_color: #D1F7FC;*/
    --bg_color: #CCF1F6;
    /*--bg_color: #B4E6ED;*/
    --bg_menu_color: #00A2EE;
    --bg_menu_hover_color: deepskyblue;
}

container {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

body {
    /*background-color: #282424;*/
    background-color: var(--bg_color);
}

#wrapper, header 
{
    margin: 0 auto 0 auto;
}

#wrapper {
    background-color: #FFFFFF;
    max-width: 1200px;
}

header
{
    display:flex;
    justify-content:center;
}
img {

    width: 65%;
}


nav {
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap:wrap;
    /*white-space: nowrap;*/
    background-color: var(--bg_color);
    margin-bottom: 20px;
}

a 
{
    text-decoration: none;
}

a:hover 
{
    color:white;
    text-decoration: none;
}

.menu 
{
    background-color: var(--bg_menu_color);
    max-height: 60px;
    padding: 15px 30px;
    margin: 10px 20px;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .3s;
}

.menu:hover
{
    
    background-color: var(--bg_menu_hover_color); /*test*/
    transform: scale(1.05);
}

.active {
    background-color: var(--bg_menu_hover_color);
}

article {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}

article img {
    width: 100%;
    display: block;
}

h1 {
    text-align: center;
    margin: 0 10% 0 10%;
    font-size: 70px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    margin: 0 10% 50px 10%;
    font-size: 50px;
    padding-bottom: 40px;
    border-bottom: 5px solid crimson;
}

h3 {
    text-align: center;
    margin: 0 10% 0 10%;
    font-size: 40px;
    padding-bottom: 40px;
}
h4 {
    background-color: #FFFFFF;
    text-align: center;
    line-height: inherit;
    font-size: 25px;
    padding: 30px 10px 0 10px;
}
hr2 {
    padding-bottom: 10px;
    border-bottom: 3px solid crimson;
}
h5 {
    background-color: #FFFFFF;
    line-height: inherit;
    font-size: 25px;
    padding: 30px 10px 0 10px;
    margin: 0 0 3px 0;
}

.inherit{
    float: inherit;
    margin: 0 0 40px 0;
}

.right {
    float: inherit;
    width: 125%;
    margin: 40px 0 0 40px;
    border-radius: 10%;
}

.left{
    float:left;
    padding: 0 10px 10px 10px;
    width: 25%;
    border-radius: 50%;
} 

article p {
    text-align: center;
    font-size: 18px;
    padding: 15px 15px 0 15px;
}

card_p{
    text-align: center;
    font-size: 18px;
    width: 25%;
    padding: 15px 15px 0 15px;
}

footer {
    
    background-color: #FFFFFF; 
    text-align: center;
    line-height: inherit;
    font-size: 15px;
    padding: 30px 10px 20px 10px;
}

/**/
